<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Travel Dashboard</title>
  </head>
  <body>
    <header>
      <p><a href="{% url 'logout' %}">Logout</a></p>
    </header>

    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}

    </div>
    <h1>Hello {{user.name}}</h1>
    <p>
      {{travel}}
    </p>
    <div class="travel">
      <h2>Your Trip Schedules!</h2>
      <table>
        <thead>
          <tr>
            <th>Destination</th>
            <th>Travel Start Date</th>
            <th>Travel End Date</th>
            <th>Plan</th>
          </tr>
        </thead>
        <tbody>
          {% for item in travel%}
          <tr>
            <td><a href="{% url 'viewtravel' id=item.id %}">{{item.destination}}</a></td>
            <td>{{item.start_date}}</td>
            <td>{{item.end_date}}</td>
            <td>{{item.description}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="otherTravels">
      <h2>Other User's Travel Plans!</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Destination</th>
            <th>Travel Start Date</th>
            <th>Travel End Date</th>
            <th>Join?</th>
          </tr>
        </thead>
        <tbody>
          {% for item in other_trips%}
          <tr>
            <td>{{item.creator__name}}</td>
            <td>{{item.destination}}</td>
            <td>{{item.start_date}}</td>
            <td>{{item.end_date}}</td>
            <td><a href="{% url 'join' id=item.id %}">JOIN!</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <p><a href="{% url 'addtravel' %}">Add a Travel Plan!</a></p>
  </body>
</html>
